:root {
  --color-red: #d1261c;
  --color-blue: #75d2f5;
  --color-white: #ffffff;
  --color-black: #401b18;
  --color-black-light: #686d7a;
  --color-green: #c1e980;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-black);
  background-color: rgba(238, 240, 235, 0.58);
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
